*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_1.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_10.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_11.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_12.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_13.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_14.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_15.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_16.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_17.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_18.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_19.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_2.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_20.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_3.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_4.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_5.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_6.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_7.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_8.plc filter=lfs diff=lfs merge=lfs -text
CFLP/easy_test_instances/i1000_9.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-31.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-32.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-33.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-34.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-35.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-36.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-37.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-38.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-39.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-40.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-41.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-42.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-43.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-44.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-45.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-46.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-47.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-48.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-49.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-50.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-51.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-52.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-53.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-54.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-55.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-56.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-57.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-58.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-59.plc filter=lfs diff=lfs merge=lfs -text
CFLP/hard_test_instances/p2000-2000-60.plc filter=lfs diff=lfs merge=lfs -text
MDS/easy_test_instances/exact_057.gr filter=lfs diff=lfs merge=lfs -text
MDS/easy_test_instances/exact_063.gr filter=lfs diff=lfs merge=lfs -text
MDS/easy_test_instances/exact_066.gr filter=lfs diff=lfs merge=lfs -text
MDS/easy_test_instances/exact_072.gr filter=lfs diff=lfs merge=lfs -text
MDS/easy_test_instances/exact_075.gr filter=lfs diff=lfs merge=lfs -text
MDS/easy_test_instances/exact_088.gr filter=lfs diff=lfs merge=lfs -text
MDS/easy_test_instances/exact_093.gr filter=lfs diff=lfs merge=lfs -text
MDS/easy_test_instances/exact_097.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_003.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_015.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_016.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_017.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_019.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_026.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_036.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_037.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_042.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_044.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_049.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_059.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_060.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_065.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_066.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_067.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_074.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_077.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_078.gr filter=lfs diff=lfs merge=lfs -text
MDS/hard_test_instances/heuristic_097.gr filter=lfs diff=lfs merge=lfs -text
MIS/easy_test_instances/C2000.5.mis filter=lfs diff=lfs merge=lfs -text
MIS/easy_test_instances/C4000.5.mis filter=lfs diff=lfs merge=lfs -text
MIS/easy_test_instances/keller6.mis filter=lfs diff=lfs merge=lfs -text
STP/easy_test_instances/G106a.stp filter=lfs diff=lfs merge=lfs -text
STP/easy_test_instances/G305a.stp filter=lfs diff=lfs merge=lfs -text
STP/easy_test_instances/G306a.stp filter=lfs diff=lfs merge=lfs -text
STP/easy_test_instances/G307a.stp filter=lfs diff=lfs merge=lfs -text
TSP/hard_test_instances/E10M.0 filter=lfs diff=lfs merge=lfs -text
TSP/hard_test_instances/E1M.0 filter=lfs diff=lfs merge=lfs -text
TSP/hard_test_instances/E3M.0 filter=lfs diff=lfs merge=lfs -text
